<footer class="bg-black text-gray-400">
    <!--Footer content-->
    <div id="footer-content" class="relative pt-8 xl:pt-16 pb-6 xl:pb-12">
        <div class="xl:container mx-auto px-3 sm:px-4 xl:px-2 overflow-hidden">
            <div class="flex flex-wrap flex-row lg:justify-between -mx-3">
                <div class="flex-shrink max-w-full w-full lg:w-2/5 px-3 lg:pr-16">
                    <div class="flex items-center mb-2">
                        <span class="text-3xl leading-normal mb-2 font-bold text-gray-100 mt-2">{{ SITE_NAME }}</span>
                        <!-- <img src="src/img-min/logo.png" alt="LOGO"> -->
                    </div>
                    <p>{{ FOOTER_DESC }}</p>
                    <ul class="space-x-3 mt-6 mb-6 Lg:mb-0">
                        {% for social in SOCIAL_MEDIA %}
                        <li class="inline-block">
                            <a target="_blank" class="hover:text-gray-100" rel="noopener noreferrer"
                                href="{{ social.link }}" title="{{ social.title }}">
                                <i class="{{ social.fontawesome_class }} fa-2x"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="flex-shrink max-w-full w-full lg:w-3/5 px-3">
                    <div class="flex flex-wrap flex-row">
                        <div class="flex-shrink max-w-full w-1/2 md:w-1/4 mb-6 lg:mb-0">
                            <h4 class="text-base leading-normal mb-3 uppercase text-gray-100">Product</h4>
                            <ul>
                                <li class="py-1 hover:text-white"><a href="#">Landing</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Pages</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Sections</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Sign Up</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Login</a></li>
                            </ul>
                        </div>
                        <div class="flex-shrink max-w-full w-1/2 md:w-1/4 mb-6 lg:mb-0">
                            <h4 class="text-base leading-normal mb-3 uppercase text-gray-100">Support</h4>
                            <ul>
                                <li class="py-1 hover:text-white"><a href="#">Documentation</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Changelog</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Tools</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Icons</a></li>
                            </ul>
                        </div>
                        <div class="flex-shrink max-w-full w-1/2 md:w-1/4 mb-6 lg:mb-0">
                            <h4 class="text-base leading-normal mb-3 uppercase text-gray-100">Includes</h4>
                            <ul>
                                <li class="py-1 hover:text-white"><a href="#">Utilities</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Components</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Example code</a></li>
                                <li class="py-1 hover:text-white"><a href="#">Updates</a></li>
                            </ul>
                        </div>
                        <div class="flex-shrink max-w-full w-1/2 md:w-1/4 mb-6 lg:mb-0">
                            <h4 class="text-base leading-normal mb-3 uppercase text-gray-100">Legal</h4>
                            <ul>
                                <li class="py-1 hover:text-white hover:text-white"><a href="#">Privacy Policy</a>
                                </li>
                                <li class="py-1 hover:text-white"><a href="#">Terms of Use</a></li>
                                <li class="py-1 hover:text-white"><a href="#">License</a></li>
                                <li class="py-1 hover:text-white"><a href="#">GDPR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Start footer copyright-->
    <div class="footer-dark">
        <div class="container py-4 border-t border-gray-200 border-opacity-10">
            <div class="row">
                <div class="col-12 col-md text-center">
                    <p class="d-block my-3">
                        Copyright © {{ SITE_NAME }} | All rights reserved | Powered By <a href="http://github.com/dev-bittu/B2News.git" target="_blank" rel="noopener noreferrer">B2News</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--End footer copyright-->
</footer>